
<!-- if user is not login then go to admin login page -->
<div *ngIf="!loginSuccess; else other_content">
  <app-login></app-login>
</div>
<!-- else go to main pages -->
<div class="container mt-5" >
  <ng-template #other_content>
    <nav class="navbar bg-light" >
      <div class="card" style="margin-left: auto;">
        <form class="container-fluid justify-content-start">
          <button routerLink="student-dashboard" class="btn btn-outline-success me-2" type="button">Student
            Dashboard</button>
            <button routerLink="course" class="btn btn-outline-success" type="button">Courses</button>
            <button routerLink="admin" class="btn btn-outline-success" type="button">Admin</button>
          <button routerLink="admin-login" class="btn btn-danger" type="button" (click)="setLougout()">Admin Logout</button>
        </form>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </ng-template>
</div>