<!-- <p>student-dashboard works!</p> -->

<div class="container">
  <div class="card mt-5" style="align-items: center;">
    <h1>Student Dashboard</h1>
  </div>
  <!-- student registration form -->
  <div class="card mt-5" style="padding: 20px;">
    <form #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">
      <div class="mb-3">
        <label for="id" class="form-label">Id</label>
        <input #id (keyup)="searchById(id.value)" name="id" ngModel type="number" class="form-control" id="id">
      </div>

      <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input name="firstName" ngModel type="text" class="form-control" id="firstName">
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input name="lastName" ngModel type="text" class="form-control" id="lastName">
      </div>
      <div class="mb-3">
        <label for="phoneNumber1" class="form-label">Phone number-1</label>
        <input name="phoneNumber1" ngModel type="text" class="form-control" id="phoneNumber1">
      </div>
      <div class="mb-3">
        <label for="phoneNumber2" class="form-label" >Phone number-2</label>
        <input name="phoneNumber2" ngModel type="text" class="form-control" id="phoneNumber2" placeholder="Optional">
      </div>
      <div class="mb-3">
        <label for="email1" class="form-label">Email-1</label>
        <input name="email1" ngModel type="text" class="form-control" id="email1">
      </div>
      <div class="mb-3">
        <label for="email2" class="form-label">Email-2</label>
        <input name="email2" ngModel type="text" class="form-control" id="email2"placeholder="Optional">
      </div>
      <div class="mb-3">
        <label for="gender" class="form-label">Gender</label>
        <input name="gender" ngModel type="text" class="form-control" id="gender">
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <input name="address" ngModel type="text" class="form-control" id="address">
      </div>

      <div class="mb-3">
        <label for="batch" class="form-label">Batch</label>
        <input name="batch" ngModel type="text" class="form-control" id="batch">
      </div>

      <div class="mb-3">
        <label for="cgpa" class="form-label">CGPA</label>
        <input name="cgpa" ngModel type="text" class="form-control" id="cgpa">
      </div>

      <button type="submit" class="btn btn-primary w-100">Register</button>
    </form>
  </div>

  <!-- Show Student info -->
  <div class="card mt-5" style="padding: 20px;">
    <!-- search here -->
    <label for="gender" class="form-label">Search by</label>
    <div style="width: 100px;display: inline-flex;">
      <input #id1 (keyup)="searchById(id1.value)" type="number" class="form-control"
        style="width: 150px;margin-right: 10px;" placeholder="id">
      <input #firstName (keyup)="searchByName(firstName.value)" class="form-control" style="width: 150px;" placeholder="name">
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Email</th>
          <th scope="col">Gender</th>
          <th scope="col">Address</th>
          <th scope="col">Batch</th>
          <th scope="col">CGPA</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students" style="background-color: rgb(244, 250, 244);">
          <!-- <th scope="row">1</th> -->
          <td>{{student.id}}</td>
          <td>{{student.firstName}} {{student.lastName}}</td>
          <td>{{student.phoneNumber1}}
            <br>{{student.phoneNumber2}}</td>
        <td>{{student.email1}}
          <br>{{student.email2}}</td>
          <td>{{student.gender}}</td>
          <td>{{student.address}}</td>
          <td>{{student.batch}}</td>
          <td>{{student.cgpa}}</td>
          <td><button type="button" class="btn btn-primary" (click)="setStudent(student)"
              data-bs-target="#updateStudentModal" data-bs-toggle="modal">Edit</button></td>
          <td><button type="button" class="btn btn-danger" (click)="deleteStudent(student.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- Update student -->

  <div class="modal fade" id="updateStudentModal" tabindex="-1" aria-labelledby="updateStudentLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateStudentLabel">Update info</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #updateForm="ngForm" (ngSubmit)="updateStudent(updateForm.value)">
            <div class="mb-3">
              <label class="form-label">Id</label>
              <input name="id" [ngModel]="student.id" type="number" class="form-control">
            </div>

            <div class="mb-3">
              <label class="form-label">First Name</label>
              <input name="firstName" [ngModel]="student.firstName" type="text" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Last Name</label>
              <input name="lastName" [ngModel]="student.lastName" type="text" class="form-control">
            </div>

            <div class="mb-3">
              <label class="form-label">Phone Number-1</label>
              <input name="phoneNumber1" [ngModel]="student.phoneNumber1" type="text" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Phone Number-2</label>
              <input name="phoneNumber2" [ngModel]="student.phoneNumber2" type="text" class="form-control" placeholder="Optional">
            </div>

            <div class="mb-3">
              <label class="form-label">Email-1</label>
              <input name="email1" [ngModel]="student.email1" type="text" class="form-control" >
            </div>
            <div class="mb-3">
              <label class="form-label">Email-2</label>
              <input name="email2" [ngModel]="student.email2" type="text" class="form-control" placeholder="Optional" >
            </div>

            <div class="mb-3">
              <label class="form-label">Gender</label>
              <input name="gender" [ngModel]="student.gender" type="text" class="form-control">
            </div>

            <div class="mb-3">
              <label class="form-label">Address</label>
              <input name="address" [ngModel]="student.address" type="text" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Batch</label>
              <input name="batch" [ngModel]="student.batch" type="text" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">CGPA</label>
              <input name="cgpa" [ngModel]="student.cgpa" type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary w-100">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>